body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
#color-palette {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.color {
    width: 130px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.color:hover {
    opacity: 0.8;
}